<div class="container" ng-controller="ApptController">
    <form>
        <label ng-if="user.role == 0" for="doctor">Select a doctor</label>
        <select ng-if="user.role == 0" ng-model="appt.doctor">
            <option ng-repeat="one_doctor in doctor_list" value="{{ one_doctor.id }}">{{ one_doctor.first_name }} {{ one_doctor.last_name }}</option>
        </select>
        <label for="purpose">Purpose of Appointment</label>
        <input type="text" name="purpose" ng-model="appt.purpose">
        <label for="time">Time of Appointment</label>
        <input type="datetime-local" name="appt_time" value="" ng-model="appt.time">
        <input ng-if="user.role == 1" type="hidden" name="doctor" value="{{ user.id }}" ng-model="appt.doctor">
        <button type="submit" ng-click="create()">Submit</button>
    </form>
</div>