<div class="container">
    <table>
        <tr>
            <td>First Name:</td>
            <td ng-bind="user.first_name"></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td ng-bind="user.last_name"></td>
        </tr>
        <tr>
            <td>Age:</td>
            <td ng-bind="user.age"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td ng-bind="user.email"></td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td ng-bind="user.phone"></td>
        </tr>
    </table>
    <table>
        <thead>
            <th>Doctor</th>
            <th>Purpose</th>
            <th>Date and Time</th>
        </thead>
        <tr ng-repeat="one_appt in appt_list">
            <td>{{ one_appt.doctor.first_name }} {{ one_appt.doctor.last_name }}</td>
            <td>{{ one_appt.purpose }}</td>
            <td>{{ one_appt.time }}</td>
        </tr>
    </table>
</div>