<div>
    <form>
        <h3>Patient Information</h3>
        <input type="text" name="first_name" ng-model="user.first_name">
        <input type="text" name="last_name" ng-model="user.last_name">
        <input type="text" name="age" ng-model="user.age">
        <input type="text" name="email" ng-model="user.email">
        <input type="text" name="phone" ng-model="user.phone">
        <button type="submit" ng-click="update_user()">Update User Information</button>
        <h3>Address Information</h3>
        <input type="text" name="street" ng-model="user.address.street">
        <input type="text" name="city" ng-model="user.address.city">
        <input type="text" name="state" ng-model="user.address.state">
        <input type="text" name="zip" ng-model="user.address.zip">
        <button type="submit" ng-click="update_address()">Update Address Information</button>
    </form>
</div>